body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* headings */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}

.header--quaternary {
    font-weight: normal;
    font-size: 21px;
    color: gray;
    text-align: center;
}


/* footing */

.header--copyright {
    font-weight: normal;
    font-size: 21px;
    color: gray;
    text-align: right;
}

/* links */

.link--cta {
    font-size: 16px;
    color:aquamarine;
    text-align: center;
}

